* {
    margin: 0;
    padding: 0;
}
body{
    background: rgb(244,244,246);
    padding-top: 44px;
    padding-bottom: 49px;
}

header{
    color: black;
    line-height: 44px;
    font-size: 18px;
    background: rgb(40,133,202);
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
}
.DS_second_section img{
     width: 100%;
 }
.DS_third_section img{
    margin-top: 15px;
    margin-left: 15px;
}

footer{
    display: table;
    width: 100%;
    background: black;
    height: 49px;
    left: 0;
    bottom: 0;
    position: fixed;
}
/*成列的标签*/
footer a{
    display: table-cell;
    width:20%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

}
footer a span{
    display: block;
    color: white;
    font-size: 12px;
}
footer a img{
    width: 20px;
}
.BP_first_section {
    display: table;
    width: 100%;
    background: rgb(244, 244, 246);
    height: 44px;
    left: 0;
    top: 44px;
    position: fixed;
}
